.pedido{
    border: 1px solid blue;
    border-radius: 1em;
}

ul {
    list-style: none;
}

.tituloLista {
    font-weight: 600;
    padding-bottom: 10px;
}

.produto img {
    max-width: 100px;
    margin-right: 12px;
    border-radius: 10px;
}

.bi-pencil-square {
    background-color: #0d6efd;
    color: white;
    padding: 2px 4px;
    margin-left: 2px;
    border-radius: 4px;
}

.bi-pencil-square:hover {
    cursor: pointer;
}


  /* MODAL */
  dialog::backdrop {
    background-color: rgb(0, 0, 0 / .5);
  }

  dialog {
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgb(0, 0, 0 / .3);
    width: 80%;
    max-width: 800px;
    padding: 2em;
  }

  dialog header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #btn-modal-close {
    background-color: #dc3545;
    color: #fff;
  }

