  /* Estilos personalizados para parecer com a imagem */
  
  :root{
    --default-stroke-color: #E3E3E3;
  }

  body {
    background-color: #f0f0f0;
    /* Cor de fundo cinza claro */
  }

  /* Estilizando banner inicial */
  #main-container{
    min-height: 400px;
    padding-top: 5em;
  }

  /* Estilizando filtro */

  .card {
    border: none;
    /* Sem bordas visíveis */
    border-radius: 20px;
    /* Borda suave */
    box-shadow: 0 10px 66px 0 rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    margin-top: -180px;
    /* Margem negativa no card de filtro */
  }

  .form-control {
    border: none;
    /* Sem bordas */
    border-bottom: 1px solid #ccc;
    /* Linha na parte inferior */
    border-radius: 0;
    /* Sem bordas arredondadas */
    background-color: transparent;
    /* Fundo transparente */
  }

  .form-group label {
    font-weight: 600;
  }

  .btn {
    color: white;
    /* Texto branco */
    padding-right: 5em;
    padding-left: 5em;
  }

  .form-control::placeholder {
    color: #c4cede;
    font-size: 0.75em;
    font-weight: 400;
  }

  #botao-pesquisar-filtro{
    background-color: #007bff;
    /* Cor azul do botão */
    border-color: #007bff;
    /* Cor da borda do botão */
  }

  .form-check{
    padding: 1em;
    border: 1px solid var(--default-stroke-color);
    border-radius: 12px;
  }

  .form-check-label {
    margin-right: 5px;
  }

  .form-check-inline {
    margin-top: 10px;
    /* Adiciona margem na parte superior dos checkboxes */
  }

  .form-check .form-check-input {
    margin-left: 0;
  }

  /* Estilos para o botão flutuante do WhatsApp */
  .floating-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transition: all 0.3s ease;
  }

  .floating-whatsapp:hover {
    transform: scale(1.1);
  }

  .floating-whatsapp img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.062);
  }
  
/* FAQ */
.faq {
    width: 80%;
}

.faq summary{
    padding: 10px;
    padding-left: 1em;
    border: 1px solid #ced4da;
    border-radius: .5em;
    margin-bottom: 12px;
}

::marker {
    color: #007bff;
    font-size: 1em;
}

.faq details summary{
    font-size: 1.5em;
    font-weight: 500;
}

.faq details p {
    color: #3C3C43;
    padding: 1em;
    transition: all .5s;
}

/* Estilizando posicionamento dos vídeos */

.box-video {
  width: 50%;
}

.video-container {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  margin-bottom: 1em;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75em;
}

#btn-yt {
  color: #fff;
  background-color: #e62117;
}

@media (max-width: 991.98px) { /* Adjust breakpoint as needed */
  .navbar-nav {
    flex-direction: column;
  }
  .navbar-nav .nav-item {
    margin-bottom: 1rem; /* Adjust spacing between items */
  }
  .navbar-brand {
    margin-bottom: 1rem; /* Add spacing below the logo */
  }
}

/* Dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* optional: you can adjust the distance between the toggle and the menu */
}

/* Ensure the dropdown appears within the viewport */
.navbar .dropdown-menu {
  right: 0; /* Align dropdown menu to the right edge of the parent */
  left: auto;
}

@media (max-width: 991.98px) {
  .navbar .dropdown-menu {
    right: auto;
    left: 0;
  }
}

/* Increase icon sizes */
.navbar .nav-link i,
.navbar .dropdown-toggle i {
  font-size: 1.5rem; /* Adjust size as needed */
}

/* Increase icon sizes */
.navbar .fa-shopping-cart,
.navbar .fa-user-alt {
  font-size: 1.5rem; /* Adjust size as needed */
}