@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

.icon-hover:hover {
  border-color: #015EEA !important;
  background-color: white !important;
}

.icon-hover:hover i {
  color: #015EEA !important;
}

/* Teste do login */

.data, .data-gmail {
  display: none;
  width: 70%;
  position: fixed;
  top:10%;
  left: 15%;
}


.gmail-btn{
  background-color: #ea0101;
  color: white;
  padding: 6px;
  font-size: 0.8em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-control {
  color: #000 !important;
}